{% extends "layout.html" %}
{% block content %}
<section class="camera">
	<h3 class="main-txt">手紙の写真を読み取ります</h3>
	<p class="sb-txt">カメラを起動します。手紙を用意してください。</p>
	<form action="/edit" method="post" enctype="multipart/form-data">
  
    <img id="thumbnail" src="" class="thumb">  
		<label>
			<input type="file" name="upfile" id="upfile" accept="image/*" capture="camera" onchange="update_thumbnail()" style="display: none;" />
			<img src="../static/images/camera-btn01.png" class="button" style="margin-top: 0;">
		</label>
		<input type="image" src="/static/images/camera-btn02.png" class="button" onclick="visible_loading_view()" style="margin-top: 10px;">
	</form>
</section>

<div id="loading_view" style="position: fixed;top:0px;left:0px;width:100%;height:100%;background: linear-gradient(25deg, rgba(255,177,120,0.7),rgba(255,90,90,0.4)),#fff;z-index:100; visibility: hidden">
	<h3 class="main-txt" style="margin: 130px 10px 0;
    color: #fff;">手紙を読み込んでいます…</h3>
	<img src="../static/images/bouquet.png" style="width: 60%;
    display: block;
    margin: 25% auto;">
</div>



<script>
<!--
function update_thumbnail(){
  files = document.getElementById('upfile').files;
  if (files.length > 0) {
    // 選択されたファイル情報を取得
    var file = files[0];

    // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
    var reader = new FileReader();
    reader.readAsDataURL(file);

    reader.onload = function() {
      document.getElementById('thumbnail').src = reader.result;
    }
  }
}
function visible_loading_view(){
    document.getElementById("loading_view").style.visibility = "visible";
}
//-->
</script>

{% endblock %}
