{% extends "layout.html" %}
{% block content %}

<div id="loading_view" style="position: fixed;top:0px;left:0px;width:100%;height:100%;background: linear-gradient(25deg, rgba(255,90,90,0.4), rgba(255,177,120,0.7)),#fff;z-index:100; visibility: hidden">
	<h3 class="main-txt" style="margin: 130px 10px 0;
    color: #fff;">花束をつくっています…</h3>
	<img src="../static/images/bouquet.png" style="width: 60%;
    display: block;
    margin: 25% auto;">
</div>

<section class="edit">
	<h3 class="main-txt">手直しとお名前</h3>
	<p class="sb-txt">あなたが書いたお手紙がきちんと読み取れているか確認し，<br>大切な方のお名前をご入力ください。</p>
	<div class="txt-area">
		<form action="/result" method="post">
			<p><input type="text" class="edit-txt" name="to_person"> へ</p>
			<textarea class="txt-blank" name="letter_body">{{ letter_body }}</textarea>
			<p><input type="text" class="edit-txt" name="from_person"> より</p>
            <input type="image" src="/static/images/button02.png" class="button" onclick="visible_loading_view()">
		</form>
	</div>
</section>

<script>
<!--
function visible_loading_view(){
    document.getElementById("loading_view").style.visibility = "visible";
}
//-->
</script>
{% endblock %}
