{% extends "layout.html" %}
{% block content %}
<section class="top">
	<h1 class="main-ttl">ふみえみ</h1>
	<h2 class="main-sbttl">手紙が花を咲かせます</h2>
	<p class="sb-txt" style="color: #fff;
    width: 80%;
    margin: 0 auto;
    font-size: 17px;font-family: 游ゴシック, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, sans-serif;font-weight: bold;">あなたが大切な人を思って書いた手紙をもとに、花束を提案するwebアプリです。<br>カメラから手紙の写真を読み取り、<br>メッセージに合う花言葉をもつ花で<br>あなただけの花束をつくります。</p>
	<a href="/camera"><img class="button" src="/static/images/button01.png" style="margin-top: 70px"></a>
	<p class="authors">presented by Shaymin</p>
</section>{% endblock %}