/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
}
.top {
	padding: 20px 0 0;
	height: 100%;
	background: linear-gradient(25deg, rgba(255,177,120,0.7),rgba(255,90,90,0.4)), url("/static/images/top.jpg");
	background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}
.main-ttl {
	color: #fff;
  text-align: center;
	font-family: "Hannari";
	margin: 50px 0;
	font-size: 18vw;
  line-height: 1;
}
.main-sbttl {
	font-size: 22px;
	font-family: 'Sawarabi Mincho', sans-serif;
	text-align: center;
  color: #fff;
}
.button {
  margin: 60px auto 0;
  display: block;
}
.authors {
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.edit, .result {
	background: linear-gradient(25deg, rgba(255,177,120,0.4), rgba(255,90,90,0.7)), url(/static/images/edit.jpg);
	padding: 10px;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
	font-weight: bold;
	color: #fff;
	min-height: 100vh;
}
.main-txt {
	border-bottom: 3px solid #fff;
	font-size: 24px;
	text-align: center;
	margin: 20px 0;
	font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}
.txt-area {
	width: 85%;
  margin: auto;
  text-align: center;
	font-size: 25px;
	color: #391717;
	font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}
.txt-blank {
	width: 100%;
	background: #FFF1F1;
	font-size: 20px;
	color: #391717;
	font-family: inherit;
}
.edit-txt {
	width: 8em;
  vertical-align: text-top;
	font-size: 20px;
	color: #391717;
}
.result {
	background: linear-gradient(25deg, rgba(255,177,120,0.4), rgba(255,90,90,0.7)), url("/static/images/result.jpg");
	background-position: center;
}
.hana-list {
	list-style: none;
	padding: 0;
	margin-bottom: 50px;
	color: #fff;
	font-size: 16px;
}
.hana-item {
	margin: 30px 0;
}
.hana-img {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	background: #fff;
	overflow: hidden;
}
.hana-img img {
	width: 100%;
}
.hana-word {
	background: #F05A5A;
	display: inline-block;
	padding: 3px 10px;
	border: 2px solid #fff;
}
.hana-flex {
	display: flex;
}
.hana-txt {
	text-align: left;
  width: 70%;
  margin-left: 15px;
}
.camera {
	background: linear-gradient(25deg, rgba(255,177,120,0.7),rgba(255,90,90,0.4));
	padding: 10px;
	height: 100%;
	font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
	font-weight: bold;
	color: #fff;
	min-height: 100vh;
}
.thumb {
	width: 200px;
	height: auto;
	margin: 30px auto;
	display: block;

}
